* {
  padding: 0;
  margin: 0;
}
body{
  background: black;
}
#game {
  width: 400px;
  height: 500px;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 50px;
  margin-left: 470px;
  overflow: hidden;
}
#character {
  width: 20px;
  height: 20px;
  background-color: rgba(28, 204, 189, 0.979);
  border-radius: 50%;
  position: relative;
  top: 400px;
  left: 190px;
  z-index: 1000000;
}
.block {
  width: 400px;
  height: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 100px;
  margin-top: -20px;
}
.hole {
  width: 40px;
  height: 20px;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 100px;
  margin-top: -20px;
}